@using ChickenTinder.Shared.Models
<div>
    <img src="@Restaurant.Image_Url" draggable="false" class="unselectable card-image" />
    <h3 class="center" style="margin-top: 10px">@Restaurant.Name</h3>
    <div class="m-3">
        <table class="table">
            <tr>
                <td style="text-align: left">@Restaurant.Review_Count Reviews</td>
                <td style="text-align: right">
                    <Rating Value="@Restaurant.Rating"></Rating>
                </td>
            </tr>
            <tr>
                <td style="text-align: left"><i class="fa-solid fa-location-pin"></i> @(Math.Round( Restaurant.Distance/5280,2)) Miles</td>
                <td style="text-align: right">
                    @Restaurant.Price
                </td>
            </tr>
        </table>
    </div>

</div>
@code {
    [Parameter]
    public Restaurant Restaurant { get; set; } = new Restaurant();
}
